/* src/styles/ForgotPasswordPage.css */
.login-container {
  height: 100vh;
  display: grid;
  align-items: center;
}

.login-form-col {
  position: relative;
  background-color: #f8f9fa;
  justify-content: center;
  align-items: center;
  display: flex;
}

.logo-wrapper {
  position: absolute;
  top: 20px;
  left: 20px;
}

.logo {
  height: 54px;
  width: auto;
  margin: 4px 8px;
}

.login-form-wrapper {
  max-width: 1000px;
  width: 50%;
  margin-top: 1.5rem;
}

.form-group-margin {
  margin-bottom: 1rem;
}

.loginTxt {
  color: #6c757d;
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 4;
}

.form-group {
  margin-bottom: 1rem;
}

.btn-full-width {
  width: 50%;
}

a.text-decoration {
  color: #9c6a42;
  text-decoration: none;
}

a.text-decoration:hover {
  text-decoration: underline;
}

.btn-full-width {
  width: 100%;
}

.image-col {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9ecef;
}

.image-wrapper {
  width: 100%;
  height: 777px;
  display: flex;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  flex: 1;
}

.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.text-decoration {
  margin-left: 10px;
  color: #9c6a42;
  text-decoration: none;
  font-weight: 600;
}

.text-decoration:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .mb-4 {
    display: flex;
    flex-direction: column;
  }

  .login-form-wrapper {
    max-width: 1000px;
    width: 70%;
    margin-top: 1.5rem;
  }
}

@media (max-width: 576px) {
  .login-form-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .login-form-wrapper {
    margin-top: 8rem !important;
  }

  .logo {
    height: 54px;
    width: auto;
    margin: 4px 184px;
  }

  .mb-4 {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .login-form-wrapper h2 {
    text-align: center;
  }

  .loginTxt {
    text-align: center;
  }

  .image-col {
    display: none;
  }
}

.flip-enter {
  transform: rotateY(90deg);
  opacity: 0;
}

.flip-enter-active {
  transform: rotateY(0deg);
  opacity: 1;
  transition: transform 500ms, opacity 500ms;
}

.flip-exit {
  transform: rotateY(0deg);
  opacity: 1;
}

.flip-exit-active {
  transform: rotateY(90deg);
  opacity: 0;
  transition: transform 500ms, opacity 500ms;
}
