/* src/styles/menuPage.css */
.menu-page {
  padding: 20px;
}

.menu-content {
  display: flex;
  justify-content: space-between;
}

.menu-items {
  width: 86%;
}

.menu-item {
  border: 1px solid #ddd;
  padding: 16px;
  text-align: center;
  width: 100%;
  max-width: 210px;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-grow: 1;
}

.menu-item h4,
p {
  margin-top: 16px;
  text-align: left;
}

.menu-item h4 {
  font-size: 16px;
}

.menu-item p {
  font-size: 12px;
  height: 32px;
}

.menu-item .price {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 0 !important;
}

.menu-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.menu-item btn-primary {
  margin-top: 0 !important;
}

.category-buttons {
  margin-bottom: 16px;
  width: auto;
  gap: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.category-buttons button {
  margin-right: 8px;
  padding: 4px 24px;
  border-radius: 8px;
  color: #9c6a42;
  border: solid 0.5px #9c6a42 !important;
}

.category-buttons button:hover {
  background-color: #9c6a42;
  color: #ffffff;
}

.menu-list {
  display: flex;
  justify-content: flex-start;
  width: 96%;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.order-form {
  background-color: #f8f9fa;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 40%;
  height: 10%;
}

.order-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.form-group {
  margin-bottom: 15px;
  border-bottom: solid 0.5px #9c6a42;
  padding-bottom: 4%;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}

.form-group btn-primary {
  background-color: #9c6a42 !important;
  border: solid 0.5px #d59d73;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
}

.chip {
  padding: 8px 16px;
  margin: 5px;
  border-radius: 25px;
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
}

.chip.active {
  background-color: #d59d73;
  color: white;
}

.filter-chips {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.quantity {
  font-weight: 600;
}

.quantity-control {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.quantity-control button {
  width: 16%;
  height: auto;
}

.btn-danger {
  display: flex !important;
  margin-left: 0 !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: #f1f1f1 !important;
}
