/* src/styles/orderPage.css */
.order-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
}

.order-id-container {
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 16px;
}

.copy-icon {
  cursor: pointer;
  margin-left: 10px;
  color: #9c6a42;
}

.copy-icon:hover {
  color: #6e4635;
}

.order-page h1 {
  font-size: 2rem;
  color: #3e2723;
  margin-bottom: 20px;
  text-align: center;
}

.order-page p {
  font-size: 1rem;
  color: #555;
  margin: 5px 0;
}

.order-page h2 {
  font-size: 1.5rem;
  color: #795548;
  margin-top: 30px;
}

.order-page ul {
  list-style-type: none;
  padding-left: 0;
}

.order-page li {
  font-size: 1rem;
  color: #333;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}

.order-page li:last-child {
  margin-bottom: 0;
}

.order-page h3 {
  font-size: 1.25rem;
  color: #9c6a42;
  font-weight: 600;
  text-align: left;
  margin-top: 30px;
}

.back-to-home-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #9c6a42;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.back-to-home-btn:hover {
  background-color: #6e4635;
}

@media (max-width: 600px) {
  .order-page {
    padding: 15px;
  }

  .order-page h1 {
    font-size: 1.75rem;
  }

  .order-page h2 {
    font-size: 1.25rem;
  }

  .order-page h3 {
    font-size: 1.1rem;
  }

  .order-page li {
    font-size: 0.9rem;
    padding: 8px;
  }
}
