* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 16px;
}

section {
  padding: 32px 0;
}

.container {
  padding: 10px;
}

.home-page {
  padding: 10px 20px;
}

.menu-page {
  padding: 10px 20px;
}
